body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin:0px 0px 0px 0px;
    width:100%;
}

/*header css*/
header{

    background-color: lightblue;
    height:215px;
}

header .logoIMG{
    width:50%;
    height:100%;
    float:left;
}

.logoIMG img{
    padding:0px;
    margin-left:10px;
}
.logoIMG h1{
    padding:5px;
}

header .mainmenu{
    width:50%;
    height:50%;
    float:left;
}

ul.menu{
    margin:0px;
    background-color:red;
    padding-top:20px;
    padding-bottom: 20px;
}

ul.menu li{
    display:inline;
    padding-right:20px;
}

ul.menu li a{
    color:floralwhite;
    font-size:1.2em;
}

ul.menu li a:hover{
    color:cornflowerblue;
}

.search-container{
    width:50%;
    height:50%;
    float:left;
}

form.searchbar{
    margin-top:20px;
}

form.searchbar input{
    height:30px;
    width:600px;
}

/*nav css*/
nav{
    margin-top:20px;
    margin-bottom: 20px;
    overflow: auto;
}

figure.categories{
    margin: 8px;
    border: 1px solid #ccc;
    float: left;
    width: 150px;
}

figure.categories:hover{
    border: 1px solid black;
}

figure.categories img{
    width:100%;
    height:auto;
}

figure.categories figcaption{
    text-align: center;
    padding:5px;
}

/*image slider*/
.imageSlider {
    width:80%;
    position: relative;
    margin: auto;
}

.slides img{
    max-height:400px;
}
#a{
    display: none;
}
#b{
    display:none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: darkblue;
}

.text {
    background-color: #717171;
    color: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 50%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active, .dot:hover {
    background-color: #717171;
}

/*scrollbar*/
div.scrollbar{
    overflow-x: scroll;
    white-space: nowrap;
    background-color: lightblue;
    margin-bottom: 40px;
    margin-top:20px;
}
.scrollbar .gallery{
    display: inline-block;
    width:150px;
    padding:0px;
    border: 1px solid #ccc;
}
.scrollbar .gallery:hover{
    border: 1px solid black;
}
.gallery img{
    width:100%;
    height:auto;
}

footer{
    clear:left;
    background-color:lightblue;
    margin-top: 20px;
    padding:10px;
}
aside{
    width:300px;
    float:left;
    overflow: auto;
    padding-top: 20px;
}
ul.asidebar{
    padding-top: 40px;
    background-color: cornflowerblue;

}
ul.asidebar li{
    padding-bottom: 15px;
}
ul.asidebar li a{
    color:floralwhite;
}
ul.asidebar li a:hover{
    color:darkslategray;
}

#right-container{
    padding-top: 20px;
    width:77%;
    float:left;
    overflow: auto;
    margin-bottom: 20px;
}
#books{
    padding-left: 40px;
}
#books .gallery{
    display: inline-block;
    width:150px;
    padding:0px;
    border: 1px solid #ccc;
}
#books .gallery:hover{
    border: 1px solid black;
}
.gallery img{
    width:100%;
    height:auto;
}

.pagination {
    display: inline-block;
    margin-left: 30%;
    margin-top: 40px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: royalblue;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
a{
    text-decoration: none;
}
#Cform{

    padding-left:20px;

    height:250px;
}


.contact-container{
    margin-left:10%;
    margin-top:10px;
}

ul.Entityasidebar{
    background-color: cornflowerblue;
    height:500px;
    padding-top: 50px;
}
ul.Entityasidebar li{
    padding-bottom: 20px;
    font-size:1.2em;
}
ul.Entityasidebar li a{
    color:floralwhite;
}
ul.Entityasidebar li a:hover{
    color:darkslategray;
}

.entity-container{
    float:left;
    width:75%;
    margin-left:20px;
}